In [ ]:
import numpy                as np
import pandas               as pd

In [ ]:
import os
for dirname, _, filenames in os.walk('drive/MyDrive/Deep_Learning/HW6/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

drive/MyDrive/Deep_Learning/HW6/Catalogue.csv

In [ ]:
data  = pd.read_csv("Catalogue.csv", encoding='latin-1')

In [ ]:
data.shape

(12201, 15)

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.head()

   No          Zaman (UTC)  Ref1  ... Kaynak No 3  Kaynak Aç?klama 3  Yer
0   0  2021-06-17 00:35:16     0  ...           7           AFAD-DDA    -
1   0  2021-06-07 16:00:19     0  ...           7           AFAD-DDA    -
2   0  2021-06-04 20:23:10     0  ...           7           AFAD-DDA    -
3   0  2021-06-02 06:14:27     0  ...           7           AFAD-DDA    -
4   0  2021-05-31 06:23:39     0  ...           7           AFAD-DDA    -

[5 rows x 15 columns]

In [ ]:
enlem = data["Enlem"]
boylam = data["Boylam"]
derinlik = data["Derinlik"]

In [ ]:
büyüklük = data["Büyüklük"]

In [ ]:
feature_vector = []

In [ ]:
avg = (enlem + boylam)/2
avg.head()

0    30.31250
1    31.75895
2    31.80520
3    36.84730
4    34.06880
dtype: float64

In [ ]:
concat = pd.concat([enlem,boylam],axis=1)
concat

         Enlem   Boylam
0      35.7380  24.8870
1      36.4261  27.0918
2      36.4461  27.1643
3      37.5625  36.1321
4      35.3220  32.8156
...        ...      ...
12196  38.1200  31.2900
12197  37.8300  27.7100
12198  37.6300  37.3700
12199  39.5400  26.1400
12200  37.7900  28.2100

[12201 rows x 2 columns]

In [ ]:
mean = np.mean(concat,axis=1)
mean

0        30.31250
1        31.75895
2        31.80520
3        36.84730
4        34.06880
           ...
12196    34.70500
12197    32.77000
12198    37.50000
12199    32.84000
12200    33.00000
Length: 12201, dtype: float64

In [ ]:
from scipy.stats import hmean

hmean_data = hmean(concat, axis=1)
hmean_data = pd.Series(hmean_data)
hmean_data

0        29.341414
1        31.073087
2        31.128017
3        36.833418
4        34.022702
           ...
12196    34.368961
12197    31.988688
12198    37.499549
12199    31.473069
12200    32.304724
Length: 12201, dtype: float64

In [ ]:
std = np.std(concat, axis=1)
std

0        5.42550
1        4.66715
2        4.64090
3        0.71520
4        1.25320
          ...
12196    3.41500
12197    5.06000
12198    0.13000
12199    6.70000
12200    4.79000
Length: 12201, dtype: float64

In [ ]:
var = np.var(concat, axis=1)
var

0        29.436050
1        21.782289
2        21.537953
3         0.511511
4         1.570510
           ...
12196    11.662225
12197    25.603600
12198     0.016900
12199    44.890000
12200    22.944100
Length: 12201, dtype: float64

In [ ]:
ssq = np.sum(concat**2, axis=1)
ssq

0        1896.567413
1        2060.826388
2        2066.217400
3        2716.470057
4        2324.507287
            ...
12196    2432.198500
12197    2198.953000
12198    2812.533800
12199    2246.711200
12200    2223.888200
Length: 12201, dtype: float64

In [ ]:
data_concat = pd.concat([concat,derinlik, mean, hmean_data, std, var, ssq], axis=1)
data_concat

         Enlem   Boylam  Derinlik  ...        2          3            4
0      35.7380  24.8870     37.50  ...  5.42550  29.436050  1896.567413
1      36.4261  27.0918     18.97  ...  4.66715  21.782289  2060.826388
2      36.4461  27.1643     11.09  ...  4.64090  21.537953  2066.217400
3      37.5625  36.1321     14.37  ...  0.71520   0.511511  2716.470057
4      35.3220  32.8156     25.63  ...  1.25320   1.570510  2324.507287
...        ...      ...       ...  ...      ...        ...          ...
12196  38.1200  31.2900     10.00  ...  3.41500  11.662225  2432.198500
12197  37.8300  27.7100     10.00  ...  5.06000  25.603600  2198.953000
12198  37.6300  37.3700     10.00  ...  0.13000   0.016900  2812.533800
12199  39.5400  26.1400     10.00  ...  6.70000  44.890000  2246.711200
12200  37.7900  28.2100     10.00  ...  4.79000  22.944100  2223.888200

[12201 rows x 8 columns]

In [ ]:
data_label = büyüklük
data_label

0        4.0
1        4.1
2        4.1
3        4.2
4        4.3
        ...
12196    5.7
12197    4.4
12198    4.8
12199    5.2
12200    4.4
Name: Büyüklük, Length: 12201, dtype: float64

In [ ]:
import lightgbm
print(lightgbm.__version__)

2.2.3

In [ ]:
print(data_concat.shape, data_label.shape)

(12201, 8) (12201,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_concat, data_label, test_size=0.2, random_state=42)

In [ ]:
X_train

         Enlem   Boylam  Derinlik  ...        2          3            4
7588   34.5556  23.7302     14.40  ...  5.41270  29.297321  1757.211883
5058   39.2204  23.7211     11.10  ...  7.74965  60.057075  2100.930361
467    35.8936  27.6675     34.44  ...  4.11305  16.917180  2053.841077
6398   34.6964  25.8895     10.00  ...  4.40345  19.390372  1874.106383
8859   40.0645  44.4378     27.80  ...  2.18665   4.781438  3579.882229
...        ...      ...       ...  ...      ...        ...          ...
11964  41.5000  28.5000     10.00  ...  6.50000  42.250000  2534.500000
5191   34.5520  32.0900     26.20  ...  1.23100   1.515361  2223.608804
5390   39.4740  40.1520     73.80  ...  0.33900   0.114921  3170.379780
860    38.6226  39.7938     16.60  ...  0.58560   0.342927  3075.251749
7270   37.7923  28.4163     33.00  ...  4.68800  21.977344  2235.744045

[9760 rows x 8 columns]

In [ ]:
y_train

7588     4.1
5058     4.5
467      4.1
6398     4.3
8859     4.3
        ...
11964    4.8
5191     4.2
5390     5.2
860      4.0
7270     4.2
Name: Büyüklük, Length: 9760, dtype: float64

In [ ]:
# evaluate lightgbm ensemble for regression
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from lightgbm import LGBMRegressor

In [ ]:
model = LGBMRegressor()
# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_train, y_train, scoring='neg_root_mean_squared_error', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('RMSE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

RMSE: -0.454 (0.021)

In [ ]:
model.fit(X_train, y_train)

LGBMRegressor()

In [ ]:
pred = model.predict(X_test)
pred

array([4.91155486, 4.34358464, 4.21339509, ..., 4.42857206, 4.39006547,
       4.31902907])

In [ ]:
y_test

11089    5.0
1562     4.6
2046     4.4
6310     4.4
5304     4.4
        ...
5470     4.0
4128     4.1
2709     5.0
11292    4.3
3017     4.0
Name: Büyüklük, Length: 2441, dtype: float64

In [ ]:
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y_test, pred, squared=False)
rmse

0.43829125390172574